<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="painting">
            <h2><span>Painting</span> {{ painting.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ painting.name }}</span>
                </dd>
                <dt><span>Author</span></dt>
                <dd>
                    <span>{{ painting.author }}</span>
                </dd>
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{ painting.creationDate }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ painting.price }}</span>
                </dd>
                <dt><span>Image Url</span></dt>
                <dd>
                    <span>{{ painting.imageUrl }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/painting', painting.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
